<!DOCTYPE html>
<html lang="zh-CN">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="/static/picture/icon2.png">

    <title>Weigo</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet"  type="text/css" />
    <link href="/static/ie10-viewport-bug-workaround.css" rel="stylesheet"  type="text/css" />
    <link href="/static/signin.css" rel="stylesheet"  type="text/css" />


    <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home/{{ host }}">Weigo</a>
        </div>
        <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log out</a></li>
              </ul>
        </div>
    </div>
    </div>


</head>

<body>

    <div id="{{ commid }}" class="container">
      <form class="form-signin" method="post" action="/editcomment/{{ commid }}/{{ host }}">
        <h2 class="form-signin-heading">Update comment:</h2>
          <div>
              <label style="margin-right: 20px;color: red">{{ error }}</label>
              <textarea style="margin-bottom: 10px" name="commeditbox" type="text" MAXLENGTH="200" id="postedit" rows="5" cols="40">{{ comm }}</textarea>
              <button class="btn btn-lg btn-primary btn-block" name="postedit" type="submit">Submit</button>
          </div>
      </form>

    </div> <!-- /container -->

</body>
</html>