<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/picture/icon2.png">

    <title>Weigo</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet"  type="text/css" />
    <link href="/static/ie10-viewport-bug-workaround.css" rel="stylesheet"  type="text/css" />
    <link href="/static/signin.css" rel="stylesheet"  type="text/css" />
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home/{{ hosts[1] }}">Weigo</a>
        </div>
        <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log out</a></li>
              </ul>
        </div>
    </div>
    </div>

</head>

<body>
<div class="container">

	<div class="rows">
		<div class="span 2">
            <aside id="left" style="float: left;line-height: 20px;height: 100%;width: 25%;margin: 5px;padding: 5px;">
            <div style="text-align:center;line-height: 20px;height: 100%;width: 95%;margin: 5px;padding: 5px;">
                {% if hosts[6] %}
                <a href="/photopage/{{ hosts[1] }}"><img src="{{ hosts[6] }}" class="img-circle" alt="Cinque Terre" style="vertical-align:middle;" width="150" height="150"></a>
                {% else %}
                <a href="/photopage/{{ hosts[1] }}"><img src='/static/picture/default.jpg' class="img-circle" alt="Cinque Terre" style="vertical-align:middle;" width="150" height="150"></a>
                {% endif %}
            </div>
            <div style="text-align:center;line-height:10px;height: 100%;width: 95%;margin: 5px;padding: 5px;">
                <p style="font-size:20px;color: orange"><span><strong>Hello,{{ hosts[1] }}</strong></span></p>
                <p style="font-size:15px;color: black;font-weight:bold"><span><a href="/followlist/{{ hosts[1] }}" style="color: black">Follows: {{ hosts[3] }}</a></span></p>
                <p style="font-size:15px;color: black;font-weight:bold"><span><a href="/fanslist/{{ hosts[1] }}" style="color: black">Fans: {{ hosts[4] }}</a></span></p>
                <p style="font-size:15px;color: black;font-weight:bold"><span><a href="/postlist/{{ hosts[1] }}" style="color: black">Post: {{ hosts[5] }}</a></span></p>
            </div>
            <div style="text-align:center;line-height: 20px;height: 100%;width: 95%;margin: 5px;padding: 5px;">
			<ul class="nav nav-list" style="margin:5px;padding: 5px;">
				<li class="nav-header">GENERAL</li>
				<li class="active"><a href="/home/{{ hosts[1] }}">Home</a></li>
				<li><a href="/friend/{{ hosts[1] }}">Friend</a></li>
				<li class="nav-header">SETTING</li>
				<li><a href="#">Link1</a></li>
				<li><a href="#">Link2</a></li>
				<li class="divider"></li>
				<li><a href="#">Help</a></li>
			</ul>
            </div>
            </aside>
		</div>

        <div class="span 5">
            <div id="right" style="float: left;line-height: 20px;height: 100%;width: 60%;margin-left: 50px;padding: 5px;">
                <h1 style="margin-top: 5px;">Friend</h1><h3>{{ list }}</h3>
                <form method="post" action="/searchfriend/{{ hosts[1] }}">
                   <a style="color: red">{{ error }}</a>
                   <label for="username" class="sr-only">Search</label>
                   <input type="text" id="search" name="searchfriend" class="form-control" placeholder="Input the name you want search..." required="" autofocus="">
                <div style="float: left;color: #337ab7;height: 100%;width: 100%;margin-top: 10px;margin-bottom: 5px">
                   <button style="background:black;color:white;text-align:center; width: 80px;height: 30px" name="send" type="submit">Search</button>
                   <label style="margin-right: 20px;color: blue;display: block">{{ nofriend }}</label>
                </div>
                </form>
                {% for user in users %}
                <div id="friendlist" style="background-color: #e8e8e8;float: left;line-height: 20px;height: 100%;width:100%;margin-top: 10px;padding: 3px;">

                    <div id="" style="float: left; height: 100%;width:10%;margin: 1px;padding: 1px;">
                        {% if user[6] %}
                        <img src="{{ user[6] }}" class="img-circle" alt="Cinque Terre" style="text-align: left;" width="50" height="50">
                        {% else %}
                        <img src="/static/picture/default.jpg" class="img-circle" alt="Cinque Terre" style="text-align: left;" width="50" height="50">
                        {% endif %}
                    </div>
                    <div style="float:left;height: 100%;width:65%;margin: 1px;padding: 1px;">
                        <p>
                           <strong style="color:orange;font-size: 16px">@{{ user[1] }}</strong>
                        </p>
                        <p>
                           <span style="color:#5e5e5e">Follows:</span>
                           <span style="color: black">{{ user[3] }}</span>
                           <span style="color: #5e5e5e">Fans:</span>
                           <span style="color: black">{{ user[4] }}</span>
                           <span style="color: #5e5e5e">Post:</span>
                           <span style="color: black">{{ user[5] }}</span>
                        </p>
                    </div>
                    <div id="{{ key }}" style="float: left;color: #337ab7;height: 100%;width: 20%;margin-top: 20px;margin-bottom: 5px">
                        {% if user in follows %}
                        {% set state = 'UNFOLLOW' %}
                        <a style="color: black;font-size: 18px" href="/dofollow/{{ state }}/{{ hosts[1] }}/{{ user[1] }}/{{ key }}"> {{ state }} </a>
                        {% else %}
                        {% set state = 'FOLLOW' %}
                        <a style="color: black;font-size: 18px" href="/dofollow/{{ state }}/{{ hosts[1] }}/{{ user[1] }}/{{ key }}"> {{ state }} </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                {% for user in friends %}
                <div id="friendlist" style="background-color: #e8e8e8;float: left;line-height: 20px;height: 100%;width:100%;margin-top: 10px;padding: 3px;">

                    <div id="" style="float: left; height: 100%;width:10%;margin: 1px;padding: 1px;">
                        {% if user[6] %}
                        <img src="{{ user[6] }}" class="img-circle" alt="Cinque Terre" style="text-align: left;" width="50" height="50">
                        {% else %}
                        <img src="/static/picture/default.jpg" class="img-circle" alt="Cinque Terre" style="text-align: left;" width="50" height="50">
                        {% endif %}

                    </div>
                    <div style="float:left;height: 100%;width:65%;margin: 1px;padding: 1px;">
                        <p>
                           <strong style="color:orange;font-size: 16px">@{{ user[1] }}</strong>
                        </p>
                        <p>
                           <span style="color:#5e5e5e">Follows:</span>
                           <span style="color: black">{{ user[3] }}</span>
                           <span style="color: #5e5e5e">Fans:</span>
                           <span style="color: black">{{ user[4] }}</span>
                           <span style="color: #5e5e5e">Post:</span>
                           <span style="color: black">{{ user[5] }}</span>
                        </p>
                    </div>
                    <div id="" style="float: left;color: #337ab7;height: 100%;width: 20%;margin-top: 20px;margin-bottom: 5px">
                        <a style="color: black;font-size: 18px" href="/unfollow/{{ hosts[1] }}/{{ user[0] }}">UNFOLLOW</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

	</div>

</div>

</body>
</html>