<!DOCTYPE html>
<html lang="zh-CN">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="/static/picture/icon2.png">

    <title>Weigo</title>

    <link href="/static/bootstrap.min.css" rel="stylesheet"  type="text/css" />
    <link href="/static/ie10-viewport-bug-workaround.css" rel="stylesheet"  type="text/css" />
    <link href="/static/signin.css" rel="stylesheet"  type="text/css" />


<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login">Weigo</a>
        </div>
    </div>
</div>

</head>

  <body>

    <div class="container">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">You are successfully register!</h2>
          <a href="/login">Log in now </a>
      </form>

    </div> <!-- /container -->

</body>
</html>